body, html {
	margin: 0;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	width: 100vw;
	height: 50vh;
	max-width: none;
	max-height: none;
}

h1 {
	font-size: 50px;
	text-align: center;
}

h2 {
	font-size: 20px;
	text-align: center;
}

h3 {
	font-size: 20px;
	text-align: center;
}

h4 {
	font-size: 18px;
	text-align: center;
}
